<figure class="swiper-slide">
    <div class="carousel-item__content">
        <div class="carousel-item__image">
            {% if image %}
                {{ image | image_url: width: 400, height: 600 | image_tag }}
            {% endif %}
            {% if video_url != blank %}
                <video src="{{ video_url }}" controls loop controlslist="nodownload nofullscreen" ></video>
            {% endif %}

            {% if video_sources %}
                <video controls loop controlslist="nodownload nofullscreen"
                    poster="{{ video_preview_image | image_url: width: 800 }}"
                >
                    {% for source in video_sources %}
                        <source src="{{ source.url }}" type="{{ source.mime_type }}">
                    {% endfor %}
                </video>
            {% endif %}
        </div>
    </div>
</figure>