<style>
    #{{ block.id }} {
        padding-top: {{ block.settings.vertical_padding | times: 0.1 }}rem;
        padding-bottom: {{ block.settings.vertical_padding | times: 0.1 }}rem;
    }

    #{{ block.id }} .hero__part-inner {
        gap: {{ block.settings.gap_between_items | times: 0.1 }}rem;
    }
</style>

<div class="hero__part w-full {% if block.settings.visible_on == 'desktop' %}hidden lg:block {% else %}block lg:hidden{% endif %}" id="{{ block.id }}">
    <div class="container">
        <div class="hero__part-inner flex flex-col">
            {% content_for "blocks" %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Hero Part",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "label": "Visible on",
      "id": "visible_on",
      "options": [
        { "value": "desktop", "label": "Desktop" },
        { "value": "mobile", "label": "Mobile" }
      ],
      "default": "desktop"
    },
    {
      "type": "range",
      "label": "Vertical padding",
      "id": "vertical_padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 14
    },
    {
      "type": "range",
      "label": "Gap between items",
      "id": "gap_between_items",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 6
    }
  ],
  "blocks": [{"type": "heading"}, {"type": "text"}, {"type": "review-badge"}, {"type": "buttons-group"}, {"type": "_hero-feature"}],
  "presets": [
    {
      "name": "Hero Part"
    }
  ]
}
{% endschema %}