{% assign bst = block.settings %}
{% assign shipping_date = 'now' | date: '%s' %}

<div class="product__cta">
    <div class="product__cta-shipping bg-[#f4f4f4] flex items-center justify-between rounded-[3rem] py-[.5rem] px-[1.5rem] text-sm">
        <div class="product__cta-shipping-label">
            <div class="flex items-center gap-1">
                <div class="w-[2rem] h-[2rem] mr-1 bg-[#7FB190] rounded-full"></div>
                {{ bst.shipping_label_1 }}

                <b><em>{{ shipping_date | date: '%a, %b %d' }}</em></b>
            </div>
        </div>
        <div class="product__cta-shipping-label flex items-center gap-2">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 4.09277H0V20.0929H24V4.09277Z" fill="white"/>
                <path d="M24 6.09253H0V8.09236H24V6.09253Z" fill="#D80027"/>
                <path d="M24 10.0928H0V12.0926H24V10.0928Z" fill="#D80027"/>
                <path d="M24 14.0923H0V16.0921H24V14.0923Z" fill="#D80027"/>
                <path d="M24 18.0925H0V20.0924H24V18.0925Z" fill="#D80027"/>
                <path d="M12 4.09277H0V12.7083H12V4.09277Z" fill="#2E52B2"/>
                <path d="M4.67923 7.62207L4.48596 8.21663H3.86084L4.36667 8.5839L4.1734 9.17841L4.67923 8.81115L5.18473 9.17841L4.99151 8.5839L5.49734 8.21663H4.87217L4.67923 7.62207Z" fill="white"/>
                <path d="M4.87217 10.3621L4.67923 9.76758L4.48596 10.3621H3.86084L4.36667 10.7294L4.1734 11.3239L4.67923 10.9566L5.18473 11.3239L4.99151 10.7294L5.49734 10.3621H4.87217Z" fill="white"/>
                <path d="M2.23012 10.3621L2.03714 9.76758L1.84388 10.3621H1.21875L1.72458 10.7294L1.53131 11.3239L2.03714 10.9566L2.54269 11.3239L2.34947 10.7294L2.8552 10.3621H2.23012Z" fill="white"/>
                <path d="M2.03714 7.62207L1.84388 8.21663H1.21875L1.72458 8.5839L1.53131 9.17841L2.03714 8.81115L2.54269 9.17841L2.34947 8.5839L2.8552 8.21663H2.23012L2.03714 7.62207Z" fill="white"/>
                <path d="M4.67923 5.47632L4.48596 6.07093H3.86084L4.36667 6.43824L4.1734 7.03276L4.67923 6.66544L5.18473 7.03276L4.99151 6.43824L5.49734 6.07093H4.87217L4.67923 5.47632Z" fill="white"/>
                <path d="M2.03714 5.47632L1.84388 6.07093H1.21875L1.72458 6.43824L1.53131 7.03276L2.03714 6.66544L2.54269 7.03276L2.34947 6.43824L2.8552 6.07093H2.23012L2.03714 5.47632Z" fill="white"/>
                <path d="M7.32127 7.62207L7.12805 8.21663H6.50293L7.00871 8.5839L6.81554 9.17841L7.32127 8.81115L7.82687 9.17841L7.6336 8.5839L8.13943 8.21663H7.5143L7.32127 7.62207Z" fill="white"/>
                <path d="M7.5143 10.3621L7.32127 9.76758L7.12805 10.3621H6.50293L7.00871 10.7294L6.81554 11.3239L7.32127 10.9566L7.82687 11.3239L7.6336 10.7294L8.13943 10.3621H7.5143Z" fill="white"/>
                <path d="M10.1559 10.3621L9.96288 9.76758L9.76961 10.3621H9.14453L9.65027 10.7294L9.45705 11.3239L9.96288 10.9566L10.4684 11.3239L10.2752 10.7294L10.781 10.3621H10.1559Z" fill="white"/>
                <path d="M9.96288 7.62207L9.76961 8.21663H9.14453L9.65027 8.5839L9.45705 9.17841L9.96288 8.81115L10.4684 9.17841L10.2752 8.5839L10.781 8.21663H10.1559L9.96288 7.62207Z" fill="white"/>
                <path d="M7.32127 5.47632L7.12805 6.07093H6.50293L7.00871 6.43824L6.81554 7.03276L7.32127 6.66544L7.82687 7.03276L7.6336 6.43824L8.13943 6.07093H7.5143L7.32127 5.47632Z" fill="white"/>
                <path d="M9.96288 5.47632L9.76961 6.07093H9.14453L9.65027 6.43824L9.45705 7.03276L9.96288 6.66544L10.4684 7.03276L10.2752 6.43824L10.781 6.07093H10.1559L9.96288 5.47632Z" fill="white"/>
                </svg>

                {{ bst.shipping_label_2 }}
        </div>
    </div>
    <div class="product__cta-button w-full mt-4">
        <a href="{{ bst.cta_button_url }}" class="btn w-full btn-lg">{{ bst.cta_button_text }}</a>
    </div>
    <div class="product__cta-guarantee mt-4 flex justify-center px-7">
        <div class="product__cta-guarantee-inner bg-[#EEF6FF] rounded-[.6rem] py-[.5rem] px-[1.5rem] text-sm flex items-center gap-3 justify-center">
            <svg width="30" height="32" viewBox="0 0 30 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.5579 19.171C28.9093 18.162 28.2607 17.1891 27.6121 16.1801C27.4679 15.9639 27.4679 15.8198 27.6121 15.6036C28.2607 14.6306 28.8733 13.6577 29.5219 12.6848C30.2786 11.5317 29.8822 10.4146 28.585 9.94616C27.504 9.54978 26.4229 9.11736 25.3419 8.72099C25.1257 8.64892 25.0176 8.50478 25.0176 8.25254C24.9815 7.0634 24.9095 5.87426 24.8374 4.72116C24.7653 3.45995 23.7924 2.73926 22.5672 3.06357C21.4141 3.35185 20.261 3.67616 19.144 4.00047C18.8917 4.07254 18.7476 4.00047 18.5674 3.8203C17.8467 2.8834 17.09 1.98254 16.3693 1.08168C15.5765 0.0727096 14.3514 0.0727096 13.5226 1.08168C12.8019 1.98254 12.0452 2.8834 11.3605 3.78426C11.1803 4.0365 11.0002 4.07254 10.7119 4.00047C9.59481 3.67616 8.47775 3.38789 7.68499 3.17168C6.1355 2.81133 5.19861 3.42392 5.12654 4.72116C5.05447 5.9103 4.9824 7.09944 4.94637 8.32461C4.94637 8.57685 4.83826 8.68495 4.62206 8.79306C3.50499 9.22547 2.38792 9.65788 1.27085 10.0903C0.117746 10.5588 -0.242599 11.6758 0.442054 12.7208C1.09068 13.7298 1.7393 14.7027 2.38791 15.7117C2.53205 15.9279 2.53205 16.072 2.38791 16.3243C1.70326 17.3332 1.05464 18.3422 0.406018 19.3872C-0.206567 20.3601 0.189809 21.5132 1.27084 21.9456C2.38791 22.3781 3.54102 22.8105 4.65808 23.2429C4.91032 23.315 4.98239 23.4591 4.98239 23.7113C5.01843 24.8644 5.16256 25.9815 5.16256 27.1346C5.16256 28.2877 6.17153 29.3327 7.57687 28.9003C8.69394 28.54 9.81101 28.2877 10.9281 27.9634C11.1443 27.8913 11.2884 27.9274 11.4326 28.1436C12.1893 29.0805 12.91 29.9813 13.6667 30.9182C14.4955 31.9272 15.6846 31.9272 16.4774 30.9182C17.2341 29.9813 17.9548 29.0805 18.7115 28.1436C18.8557 27.9634 18.9638 27.8913 19.216 27.9634C20.3691 28.2877 21.5222 28.576 22.6753 28.9003C23.8645 29.2246 24.8734 28.5039 24.9095 27.2787C24.9815 26.0896 25.0536 24.9005 25.0896 23.6753C25.0896 23.387 25.2338 23.2789 25.45 23.2069C26.531 22.8105 27.6481 22.3781 28.7291 21.9456C29.8822 21.3691 30.2426 20.216 29.5579 19.171ZM20.9457 13.2613L13.7388 20.4682C13.5586 20.6484 13.3064 20.7925 13.0541 20.8286C12.9821 20.8286 12.874 20.8646 12.8019 20.8646C12.4776 20.8646 12.1172 20.7205 11.865 20.4682L8.91016 17.5134C8.40568 17.0089 8.40568 16.1801 8.91016 15.6756C9.41465 15.1712 10.2434 15.1712 10.7479 15.6756L12.7659 17.6936L19.0359 11.4236C19.5403 10.9191 20.3691 10.9191 20.8736 11.4236C21.4502 11.9281 21.4502 12.7568 20.9457 13.2613Z" fill="#0D3063"/>
            </svg>

            {{ bst.guarantee_text }}
        </div>
    </div>
</div>
{% schema %}
{
  "name": "CTA",
  "tag": null,
  "settings": [
    {
        "type": "header",
        "content": "Shipping"
    },
    {
        "type": "text",
        "label": "Shipping Label 1",
        "id": "shipping_label_1",
        "default": "Ships by"
    },
    {
        "type": "richtext",
        "label": "Shipping Label 2",
        "id": "shipping_label_2",
        "default": "<p>Expedited <b>USPS</b> Shipping</p>"
    },
    {
        "type": "header",
        "content": "CTA Button"
    },
    {
        "type": "text",
        "label": "CTA Button Text",
        "id": "cta_button_text",
        "default": "Choose Your Package"
    },
    {
        "type": "url",
        "label": "CTA Button URL",
        "id": "cta_button_url"
    },
    {
        "type": "header",
        "content": "Guarantee"
    },
    {
        "type": "richtext",
        "label": "Guarantee Text",
        "id": "guarantee_text",
        "default": "<p><b><em>Less than 1%</em></b> of customers claim our <b>90 Day Money Back Guarantee*</b></p>"
    }
  ],
  "presets": [
    {
      "name": "CTA"
    }
  ]
}
{% endschema %}