{% assign bst = block.settings %}
{% assign related_product = bst.related_product %}

{% capture btn_url %}
    {% if related_product != blank %}
        {% if related_product.metafields.custom.use_offer_page_with_gifts_instead_checkout %}
            /pages/offer?product-handle={{ related_product.handle }}
        {% else %}
            /pages/checkout?product-handle={{ related_product.handle }}
        {% endif %}
    {% else %}
        {{ bst.button_link }}
    {% endif %}
{% endcapture %}

{% if bst.hide_on_mobile %}
    <style>
        @media (max-width: 768px) {
            #{{ block.id }} {
                display: none;
            }
        }
    </style>
{% endif %}
<a href="{{ btn_url }}" class="btn btn--{{ bst.button_type }} {% if related_product != blank %}btn--cart{% endif %}" id="{{ block.id }}">
    {{ bst.button_text }}
</a>

{% schema %}
{
  "name": "Button",
  "tag": null,
  "settings": [
    {
        "type": "text",
        "label": "Button Text",
        "id": "button_text",
        "default": "Button Text"
    },
    {
        "type": "url",
        "label": "Button Link",
        "id": "button_link"
    },
    {
        "type": "product",
        "label": "Related Product",
        "id": "related_product",
        "info": "Use this field only for checkout button"
    },
    {
        "type": "select",
        "label": "Button Type",
        "id": "button_type",
        "options": [
            {
                "value": "primary",
                "label": "Green"
            },
            {
                "value": "secondary",
                "label": "Blue"
            },
            {
                "value": "aqua",
                "label": "Aqua"
            }
        ],
        "default": "primary"
    },
    {
        "type": "checkbox",
        "label": "Hide on mobile",
        "id": "hide_on_mobile",
        "default": false
    }
  ],
  "presets": [
    {
      "name": "Button"
    }
  ]
}
{% endschema %}