{% assign bst = block.settings %}
{% assign productMetafieldTestimonials = product.metafields.custom.testimonial_videos_images.value %}

<div class="carousel overflow-hidden w-full" id="{{ block.id }}">
    <div class="carousel__content swiper">
        <div class="swiper-wrapper">
            {% if bst.use_product_testimonials_metafiled and productMetafieldTestimonials != blank %}
                {% for testimonial in productMetafieldTestimonials %}
                    {% assign videoSources = testimonial.sources %}
                    
                    {% render 'carousel-item', image: testimonial.image, video_sources: videoSources, video_preview_image: testimonial.preview_image %}
                {% endfor %}
            {% else %}
                {% content_for 'blocks' %}
            {% endif %}
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const swiper = new Swiper('#{{ block.id }} .swiper', {
            slidesPerView: {{ bst.items_per_view_mobile }},
            spaceBetween: {{ bst.gap_mobile }},
            breakpoints: {
                768: {
                    slidesPerView: {{ bst.items_per_view }},
                    spaceBetween: {{ bst.gap }},
                }
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            }
        });
    });
</script>

{% schema %}
{
  "name": "Carousel",
  "settings": [
    {
        "type": "checkbox",
        "id": "use_product_testimonials_metafiled",
        "label": "Use product testimonials metafield",
        "info": "If enabled, the carousel will be filled with product testimonials from the product's metafield",
        "default": false
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "range",
      "label": "Items per view",
      "id": "items_per_view",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "label": "Gap between items",
      "id": "gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 14
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "range",
      "label": "Items per view",
      "id": "items_per_view_mobile",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "label": "Gap between items",
      "id": "gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "_carousel-item",
    }
  ],
  "presets": [
    {
      "name": "Carousel"
    }
  ]
}
{% endschema %}