{% assign shipping_date = 'now' | date: '%s' %}
{% assign bst = block.settings %}

<div x-data="product" class="max-md:pb-[12rem] md:pb-[2.4rem]">
    <div class="mb-6 max-md:mx-[-2rem] md:my-[0] relative text-center text-[2rem] font-bold md:fixed md:left-0 md:top-[5.6rem] md:right-0 z-[99] shadow-[0_0_10px_0_rgba(0,0,0,0.15)] h-[4.8rem] md:h-[6rem] bg-white flex items-center justify-center px-8">
        <div class="flex font-family-poppins items-center justify-center w-full max-w-[99.2rem] mx-auto relative">
            <button @click="if (document.referrer) history.back(); else window.location.href = '/'" class="flex items-center justify-center mr-[.6rem] w-[2.8rem] h-[2.8rem] rounded-full bg-[#0D3063] text-white p-[.6rem] absolute left-0 top-[50%] translate-y-[-50%] py-[1.4rem]" >
                <svg class="rotate-180" width="12" height="12" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.672 7.70302L0.5 7.70302V9.70302H12.672L7.308 15.067L8.722 16.481L16.5 8.70302L8.722 0.925018L7.308 2.33902L12.672 7.70302Z" fill="white"></path>
                </svg>
            </button> 
            <span>Select at least <span x-text="initialMinQty"></span> <span x-text="initialMinQty == 1 ? 'bag' : 'bags'"></span></span>
        </div>
    </div>

    <div class="md:mt-[2.4rem] mb-[0.5rem] leading-[1.3] ">
        <b>Exclusive Sale Extended:</b> You’ve unlocked big savings and FREE gifts on your first order!
    </div>

    <div class="flex items-center gap-[.5rem] mb-4">
        <div class="w-8 h-8 flex items-center justify-center">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.41 9.58L10.41 0.580001C10.035 0.20808 9.52815 -0.000420824 9 6.37713e-07H2C1.46957 6.37713e-07 0.96086 0.210714 0.585787 0.585787C0.210714 0.96086 6.2793e-07 1.46957 6.2793e-07 2V9C-0.000208492 9.26391 0.0518167 9.52526 0.153078 9.76897C0.254338 10.0127 0.402832 10.2339 0.590001 10.42L9.59 19.42C9.96498 19.7919 10.4719 20.0004 11 20C11.5296 19.9978 12.0367 19.7856 12.41 19.41L19.41 12.41C19.7856 12.0367 19.9978 11.5296 20 11C20.0002 10.7361 19.9482 10.4747 19.8469 10.231C19.7457 9.98732 19.5972 9.76606 19.41 9.58ZM11 18L2 9V2H9L18 11M4.5 3C4.79667 3 5.08668 3.08797 5.33336 3.2528C5.58003 3.41762 5.77229 3.65189 5.88582 3.92598C5.99935 4.20006 6.02906 4.50166 5.97118 4.79264C5.9133 5.08361 5.77044 5.35088 5.56066 5.56066C5.35088 5.77044 5.08361 5.9133 4.79264 5.97118C4.50166 6.02906 4.20006 5.99935 3.92598 5.88582C3.65189 5.77229 3.41762 5.58003 3.2528 5.33336C3.08797 5.08668 3 4.79667 3 4.5C3 4.10218 3.15804 3.72064 3.43934 3.43934C3.72064 3.15804 4.10218 3 4.5 3Z" fill="#0D3063"/>
            </svg>                
        </div>
        <div class="ml-2 font-medium">
            721.2k+ sticks bought in past week
        </div>
    </div>

    <div class="font-medium flex items-center justify-center bg-[#E9F7FE] border-[1px] border-dashed border-[#0D3063] rounded-[.5rem] h-[3.4rem] p-[.73rem] mb-4 text-[1.5rem] md:text-base">
        <div class="w-[4.4rem] h-[4.4rem] ml-[-1rem]" id="lottie"></div>
        <div class="ml-[-.5rem]">
            Order by {{ shipping_date  | date: '%b %d' }} for guaranteed FREE Gifts
        </div>
    </div>

    <div class="hidden">
        <div class="checkout__sizes grid grid-cols-3 gap-4 mt-[1.6rem] mb-[1rem]">
            <template x-for="pouch in pouches">
                <label class="checkout__size block">
                    <input type="radio" name="pouches" x-model="minQty" :checked="pouch.minQty === minQty" :value="pouch.minQty">
                    
                    <div class="checkout__size-inner min-h-[100%]" :data-blue-label="pouch.blue_badge ? pouch.blue_badge : null" :data-yellow-label="pouch.yellow_badge ? pouch.yellow_badge : null">
                        <div class="checkout__size-title font-bold" x-text="pouch.title"></div>
                        <div class="checkout__size-price font-medium text-[1.5rem] text-[#000]" x-text="formatMoney(pouch.price_per_packet) + '/each'"></div>
                        <div class="inline-flex items-center justify-center px-[0.8rem] md:px-[1.6rem] rounded-full font-medium h-[2rem] text-[#333333] text-[1.5rem] bg-[#C4FFB5] text-[#0D3063]">
                            <div x-text="pouch.saving_percent" class="leading-1"></div>
                        </div>
                    </div>
                </label>
            </template>
        </div>
    </div>

    <div class="product__flavors flex flex-col gap-[.8rem]" x-show="currentProduct.variants.length > 0">
            
        <template x-for="variant in currentProduct.variants" :key="variant.id">
            <div class="checkout__flavor flex items-center">
                <div class="checkout__flavor-image mr-6 w-[6.4rem] h-[6.4rem] overflow-hidden flex-shrink-0">
                    <img :src="variant.image" :alt="variant.title" class="w-full h-full object-cover">
                </div>

                <div class="checkout__flavor-content w-[100%]">
                    <div class="checkout__flavor-title font-bold">
                        <span x-text="variant.title"></span>
                    </div>

                    <div class="text-sm md:text-base text-[#333]" x-show="variant?.description" x-text="variant?.description"></div>
                </div>

                <div class="checkout__flavor-qty w-[9.3rem] flex-shrink-0">

                    <div class="checkout__flavor-qty w-[7.7rem] flex-shrink-0" x-show="variant.quantity == 0">
                        <button class="btn btn--add w-full" @click="variant.quantity++; recalculateTotal()">Add+</button>
                    </div>

                    <div class="qty-picker flex items-center gap-2 mb-2 text-[#111111]" x-show="variant.quantity > 0">
                        <button class="qty-picker__btn" @click="variant.quantity > 0 && variant.quantity--; recalculateTotal()">
                            <svg width="14" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.534084 2.14009H8.87706C9.1046 2.14009 9.25629 1.9884 9.25629 1.76086V1.00241C9.25629 0.774875 9.1046 0.623184 8.87706 0.623184H0.534084C0.306549 0.623184 0.154859 0.774875 0.154859 1.00241V1.76086C0.154859 1.9884 0.306549 2.14009 0.534084 2.14009Z" fill="currentColor"/>
                            </svg>                                
                        </button>
                        <input type="number" class="qty-picker__input text-center w-[2.4rem]" :value="variant.quantity" @change="variant.quantity = $event.target.value; recalculateTotal()">
                        <button class="qty-picker__btn" @click="variant.quantity++; recalculateTotal()">
                            <svg width="12" height="12" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.594739 5.00245V5.7609C0.594739 5.98844 0.746429 6.14013 0.973965 6.14013H4.387V9.55317C4.387 9.7807 4.53869 9.93239 4.76623 9.93239H5.52468C5.75221 9.93239 5.90391 9.7807 5.90391 9.55317V6.14013H9.31694C9.54448 6.14013 9.69617 5.98844 9.69617 5.7609V5.00245C9.69617 4.77492 9.54448 4.62322 9.31694 4.62322H5.90391V1.21019C5.90391 0.982654 5.75221 0.830963 5.52468 0.830963H4.76623C4.53869 0.830963 4.387 0.982654 4.387 1.21019V4.62322H0.973965C0.746429 4.62322 0.594739 4.77492 0.594739 5.00245Z" fill="currentColor"/>
                            </svg>                                
                        </button>
                    </div>
                </div>
            </div>
        </template>
    </div>

    <div class="mt-4 text-center checkout__gifts text-center bg-[#e2f0ff] py-[0.8rem] px-[1.2rem] rounded-[1.2rem]">
        <div class="checkout__gifts-header">
            <h2 class="checkout__gifts-title text-[1.8rem] p-[.35rem] bg-white text-center rounded-[.6rem] font-bold"> Unlock Free Gifts! 🎁</h2>
        </div>

        <div class="checkout__gifts-description text-sm leading-[1.2] mt-2 mb-2 font-bold">
            <span x-show="currentQty == 1 || minQty == 1">
                Add a 2nd Pouch, Get a Nectar Bottle
            </span>
            <span x-show="currentQty == 2">
                Add a 3rd Pouch, Get a Nectar Frother
            </span>
            {% comment %} <span x-show="currentQty == 3">
                Add a 4th Pouch, Get a Nectar Frother
            </span> {% endcomment %}
            <span x-show="currentQty >= 3">
                Congratulations! All Gifts Unlocked!
            </span>
        </div>

        <div class="checkout__gifts-products grid grid-cols-4 gap-4">
            <template x-for="(product, index) in giftsProducts">
                <div class="checkout__gifts-product" 
                    x-data="{ 
                        currentIndex: index+1,
                        message: `2+ Bags`,
                        labels: ['2+ Bags', '2+ Bags', 'Unlock at 2 Bags', 'Unlock At 3 Bags']
                    }"
                >
                    <div class="checkout__gifts-product-inner rounded-[.8rem] overflow-hidden">
                        <div class="checkout__gifts-product-price uppercase text-[1.1rem] md:text-xs text-white bg-coolBlack px-[.4rem] py-[.3rem]">
                            free <span class="line-through" x-text="allGiftsAvailableMoreThanOne && index == 1 ? '$15.99' : formatMoney(product.price)"></span>
                        </div>
                        
                        <div class="checkout__gifts-product-image h-[6rem] p-[.2rem] relative">
                            <img :src="product.image" :alt="product.title" class="w-full h-full object-contain" width="100" height="100">

                            <template x-if="allGiftsAvailableEqual3">
                                <div class="checkout__gifts-product-locked" x-show="index > minQty">
                                    <svg width="25" height="33" viewBox="0 0 25 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.11098 32.3333C2.2707 32.3333 1.55162 32.0372 0.953753 31.4451C0.354864 30.8519 0.0554199 30.1391 0.0554199 29.3069V14.1746C0.0554199 13.3423 0.354864 12.6296 0.953753 12.0364C1.55162 11.4442 2.2707 11.1481 3.11098 11.1481H4.63875V8.12168C4.63875 6.02838 5.3838 4.24378 6.87389 2.76788C8.36297 1.29299 10.1642 0.555542 12.2776 0.555542C14.3911 0.555542 16.1928 1.29299 17.6829 2.76788C19.172 4.24378 19.9165 6.02838 19.9165 8.12168V11.1481H21.4443C22.2846 11.1481 23.0042 11.4442 23.6031 12.0364C24.2009 12.6296 24.4999 13.3423 24.4999 14.1746V29.3069C24.4999 30.1391 24.2009 30.8519 23.6031 31.4451C23.0042 32.0372 22.2846 32.3333 21.4443 32.3333H3.11098ZM7.69431 11.1481H16.861V8.12168C16.861 6.86066 16.4154 5.78879 15.5242 4.90607C14.633 4.02336 13.5508 3.582 12.2776 3.582C11.0045 3.582 9.92232 4.02336 9.03111 4.90607C8.13991 5.78879 7.69431 6.86066 7.69431 8.12168V11.1481ZM12.2776 24.7672C13.1179 24.7672 13.8375 24.4711 14.4364 23.8789C15.0343 23.2857 15.3332 22.573 15.3332 21.7407C15.3332 20.9085 15.0343 20.1957 14.4364 19.6025C13.8375 19.0104 13.1179 18.7143 12.2776 18.7143C11.4374 18.7143 10.7183 19.0104 10.1204 19.6025C9.52153 20.1957 9.22209 20.9085 9.22209 21.7407C9.22209 22.573 9.52153 23.2857 10.1204 23.8789C10.7183 24.4711 11.4374 24.7672 12.2776 24.7672Z" fill="currentColor"></path>
                                    </svg>

                                    <div class="checkout__gifts-product-locked-text">
                                        <span x-text="labels[index]"></span>
                                    </div>
                                </div>
                            </template>
                        </div>

                    </div>

                    <div class="checkout__gifts-product-name whitespace-nowrap text-center font-medium md:font-normal text-[1.1rem] md:text-xs mt-1">
                        <span x-text="product.title"></span>
                    </div>
                </div>
            </template>
        </div>
    </div>

    <div class="bg-[#E9F4FF] flex items-center justify-between rounded-[3rem] px-2 py-1.5 md:px-[0.8rem] text-sm my-4">
        <div class="product__cta-shipping-label">
            <div class="flex items-center gap-1">
                <div class="w-[1.6rem] h-[1.6rem] mr-1 bg-[#7FB190] rounded-full blink-animation"></div>
                Ships by

                <b><em>{{ shipping_date | date: '%a, %b %d' }}</em></b>
            </div>
        </div>
        <div class="product__cta-shipping-label flex items-center gap-2">
            <svg width="22" height="20" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 4.09277H0V20.0929H24V4.09277Z" fill="white"></path>
                <path d="M24 6.09253H0V8.09236H24V6.09253Z" fill="#D80027"></path>
                <path d="M24 10.0928H0V12.0926H24V10.0928Z" fill="#D80027"></path>
                <path d="M24 14.0923H0V16.0921H24V14.0923Z" fill="#D80027"></path>
                <path d="M24 18.0925H0V20.0924H24V18.0925Z" fill="#D80027"></path>
                <path d="M12 4.09277H0V12.7083H12V4.09277Z" fill="#2E52B2"></path>
                <path d="M4.67923 7.62207L4.48596 8.21663H3.86084L4.36667 8.5839L4.1734 9.17841L4.67923 8.81115L5.18473 9.17841L4.99151 8.5839L5.49734 8.21663H4.87217L4.67923 7.62207Z" fill="white"></path>
                <path d="M4.87217 10.3621L4.67923 9.76758L4.48596 10.3621H3.86084L4.36667 10.7294L4.1734 11.3239L4.67923 10.9566L5.18473 11.3239L4.99151 10.7294L5.49734 10.3621H4.87217Z" fill="white"></path>
                <path d="M2.23012 10.3621L2.03714 9.76758L1.84388 10.3621H1.21875L1.72458 10.7294L1.53131 11.3239L2.03714 10.9566L2.54269 11.3239L2.34947 10.7294L2.8552 10.3621H2.23012Z" fill="white"></path>
                <path d="M2.03714 7.62207L1.84388 8.21663H1.21875L1.72458 8.5839L1.53131 9.17841L2.03714 8.81115L2.54269 9.17841L2.34947 8.5839L2.8552 8.21663H2.23012L2.03714 7.62207Z" fill="white"></path>
                <path d="M4.67923 5.47632L4.48596 6.07093H3.86084L4.36667 6.43824L4.1734 7.03276L4.67923 6.66544L5.18473 7.03276L4.99151 6.43824L5.49734 6.07093H4.87217L4.67923 5.47632Z" fill="white"></path>
                <path d="M2.03714 5.47632L1.84388 6.07093H1.21875L1.72458 6.43824L1.53131 7.03276L2.03714 6.66544L2.54269 7.03276L2.34947 6.43824L2.8552 6.07093H2.23012L2.03714 5.47632Z" fill="white"></path>
                <path d="M7.32127 7.62207L7.12805 8.21663H6.50293L7.00871 8.5839L6.81554 9.17841L7.32127 8.81115L7.82687 9.17841L7.6336 8.5839L8.13943 8.21663H7.5143L7.32127 7.62207Z" fill="white"></path>
                <path d="M7.5143 10.3621L7.32127 9.76758L7.12805 10.3621H6.50293L7.00871 10.7294L6.81554 11.3239L7.32127 10.9566L7.82687 11.3239L7.6336 10.7294L8.13943 10.3621H7.5143Z" fill="white"></path>
                <path d="M10.1559 10.3621L9.96288 9.76758L9.76961 10.3621H9.14453L9.65027 10.7294L9.45705 11.3239L9.96288 10.9566L10.4684 11.3239L10.2752 10.7294L10.781 10.3621H10.1559Z" fill="white"></path>
                <path d="M9.96288 7.62207L9.76961 8.21663H9.14453L9.65027 8.5839L9.45705 9.17841L9.96288 8.81115L10.4684 9.17841L10.2752 8.5839L10.781 8.21663H10.1559L9.96288 7.62207Z" fill="white"></path>
                <path d="M7.32127 5.47632L7.12805 6.07093H6.50293L7.00871 6.43824L6.81554 7.03276L7.32127 6.66544L7.82687 7.03276L7.6336 6.43824L8.13943 6.07093H7.5143L7.32127 5.47632Z" fill="white"></path>
                <path d="M9.96288 5.47632L9.76961 6.07093H9.14453L9.65027 6.43824L9.45705 7.03276L9.96288 6.66544L10.4684 7.03276L10.2752 6.43824L10.781 6.07093H10.1559L9.96288 5.47632Z" fill="white"></path>
                </svg>

                <p>Fast <strong>FREE</strong> Shipping</p>
        </div>
    </div>

    <div class="sticky-cta max-md:pt-3 max-md:pb-5 max-md:px-8 max-md:bg-[#F5FFF6] max-md:border-t-2 max-md:border-[#0D3063] max-md:fixed bottom-0 max-md:z-[80] w-full left-0">
        <div class="sticky-cta__inner max-md:w-full max-md:max-w-[38.4rem] max-md:mx-auto">
            
            <div class="sticky-cta__labels flex items-center gap-2 justify-between mb-1 text-xs md:text-sm flex md:hidden">
            
                <div class="sticky-cta__label-icon">
                    🎉 You’re Saving <b x-text="currentPouch?.saving_percent.replace('Save ', '') + ' OFF'"></b>
                </div>
                <div class="product__cta-shipping-label flex items-center gap-2">
                    <svg width="22" height="20" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 4.09277H0V20.0929H24V4.09277Z" fill="white"></path>
                        <path d="M24 6.09253H0V8.09236H24V6.09253Z" fill="#D80027"></path>
                        <path d="M24 10.0928H0V12.0926H24V10.0928Z" fill="#D80027"></path>
                        <path d="M24 14.0923H0V16.0921H24V14.0923Z" fill="#D80027"></path>
                        <path d="M24 18.0925H0V20.0924H24V18.0925Z" fill="#D80027"></path>
                        <path d="M12 4.09277H0V12.7083H12V4.09277Z" fill="#2E52B2"></path>
                        <path d="M4.67923 7.62207L4.48596 8.21663H3.86084L4.36667 8.5839L4.1734 9.17841L4.67923 8.81115L5.18473 9.17841L4.99151 8.5839L5.49734 8.21663H4.87217L4.67923 7.62207Z" fill="white"></path>
                        <path d="M4.87217 10.3621L4.67923 9.76758L4.48596 10.3621H3.86084L4.36667 10.7294L4.1734 11.3239L4.67923 10.9566L5.18473 11.3239L4.99151 10.7294L5.49734 10.3621H4.87217Z" fill="white"></path>
                        <path d="M2.23012 10.3621L2.03714 9.76758L1.84388 10.3621H1.21875L1.72458 10.7294L1.53131 11.3239L2.03714 10.9566L2.54269 11.3239L2.34947 10.7294L2.8552 10.3621H2.23012Z" fill="white"></path>
                        <path d="M2.03714 7.62207L1.84388 8.21663H1.21875L1.72458 8.5839L1.53131 9.17841L2.03714 8.81115L2.54269 9.17841L2.34947 8.5839L2.8552 8.21663H2.23012L2.03714 7.62207Z" fill="white"></path>
                        <path d="M4.67923 5.47632L4.48596 6.07093H3.86084L4.36667 6.43824L4.1734 7.03276L4.67923 6.66544L5.18473 7.03276L4.99151 6.43824L5.49734 6.07093H4.87217L4.67923 5.47632Z" fill="white"></path>
                        <path d="M2.03714 5.47632L1.84388 6.07093H1.21875L1.72458 6.43824L1.53131 7.03276L2.03714 6.66544L2.54269 7.03276L2.34947 6.43824L2.8552 6.07093H2.23012L2.03714 5.47632Z" fill="white"></path>
                        <path d="M7.32127 7.62207L7.12805 8.21663H6.50293L7.00871 8.5839L6.81554 9.17841L7.32127 8.81115L7.82687 9.17841L7.6336 8.5839L8.13943 8.21663H7.5143L7.32127 7.62207Z" fill="white"></path>
                        <path d="M7.5143 10.3621L7.32127 9.76758L7.12805 10.3621H6.50293L7.00871 10.7294L6.81554 11.3239L7.32127 10.9566L7.82687 11.3239L7.6336 10.7294L8.13943 10.3621H7.5143Z" fill="white"></path>
                        <path d="M10.1559 10.3621L9.96288 9.76758L9.76961 10.3621H9.14453L9.65027 10.7294L9.45705 11.3239L9.96288 10.9566L10.4684 11.3239L10.2752 10.7294L10.781 10.3621H10.1559Z" fill="white"></path>
                        <path d="M9.96288 7.62207L9.76961 8.21663H9.14453L9.65027 8.5839L9.45705 9.17841L9.96288 8.81115L10.4684 9.17841L10.2752 8.5839L10.781 8.21663H10.1559L9.96288 7.62207Z" fill="white"></path>
                        <path d="M7.32127 5.47632L7.12805 6.07093H6.50293L7.00871 6.43824L6.81554 7.03276L7.32127 6.66544L7.82687 7.03276L7.6336 6.43824L8.13943 6.07093H7.5143L7.32127 5.47632Z" fill="white"></path>
                        <path d="M9.96288 5.47632L9.76961 6.07093H9.14453L9.65027 6.43824L9.45705 7.03276L9.96288 6.66544L10.4684 7.03276L10.2752 6.43824L10.781 6.07093H10.1559L9.96288 5.47632Z" fill="white"></path>
                    </svg>
            
                    <p>Fast <strong>Tracked USPS</strong> Shipping</p>
                </div>
            </div>
        
            <div class="sticky-cta__button">
                <button id="add-to-cart" @click="addToCart" class="flex items-center justify-center gap-3 md:gap-[1.2rem] text-[1.6rem] md:text-[2rem] font-bold bg-[#21A600] border-[.2rem] h-[6.6rem] border-[#037C2B] hover:bg-[#037C2B] rounded-[1rem] text-white w-full checkout__cta-btn" :disabled="currentQty < initialMinQty"
                >
                    <span x-show="currentQty < initialMinQty">Select <span x-text="initialMinQty - currentQty"></span> More Bag<span x-show="initialMinQty - currentQty > 1">s</span></span>
                    
                    <span x-show="currentQty >= initialMinQty" x-text="isProcessing ? 'Adding to cart...' : 'Checkout Now'"></span>
            
                    <span class="inline-flex items-center justify-center font-medium h-[2.4rem] bg-[#0D3063] text-white text-base rounded-full px-[1.2rem] gap-[.8rem]">
                        <template x-if="currentQty <= maxQty">
                            <div>
                                <span class="line-through text-[#D8D8D8]" x-text="formatMoney(currentPouch?.compare_at_price)"></span>
            
                                <span x-text="formatMoney(currentPouch?.price)"></span>
                            </div>
                        </template>
            
                        <template x-if="currentQty > maxQty">
                            <div>
                                <span class="line-through text-[#D8D8D8]" x-text="formatMoney(currentPouch?.compare_price_per_packet * currentQty)"></span>
            
                                <span x-text="formatMoney(currentPouch?.price_per_packet * currentQty)"></span>
                            </div>
                        </template>
                    </span>
            
                    <span class="ml-[.6rem]">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.672 7.70302L0.5 7.70302V9.70302H12.672L7.308 15.067L8.722 16.481L16.5 8.70302L8.722 0.925018L7.308 2.33902L12.672 7.70302Z" fill="white"></path>
                        </svg>
                    </span>
                </button>
            </div>
            
        </div>
    </div>

    <div class="bg-[#FFFBE2] rounded-[0.3rem] mt-[0.6rem] flex items-center">
        <div class="w-[5.8rem] h-[5.8rem] flex-shrink-0 flex items-center justify-center">
            <img src="https://cdn.shopify.com/s/files/1/0309/2257/1835/files/guarantee_image.png?v=1753573319" alt="Guarantee Badge" class="w-full h-full object-contain" width="58" height="58">
        </div>
        <div class="text-[1.3rem] md:text-sm font-family-poppins font-medium text-left text-[#222222] p-[0.6rem_2.6rem_.6rem_1rem] md:leading-[1.1]">
            <b>Less than 1%</b> of our customers use our <br><b>90-day money back guarantee.*</b>
        </div>
    </div>

</div>


{% style %}
    .shopify-section-group-header-group,
    .shopify-section-group-footer-group {
        display: none;
    }

    .product__faq:not(.product__faq--open) .accordion-item:nth-child(n+6) {
        display: none;
    }

    .product__faq:not(.product__faq--open) .accordion-item:nth-child(n+6) {
        display: none;
    }

    @media (min-width: 768px) {   
        .accordion-item__summary {
            font-size: 1.8rem;
        }

        .block-layout__content .layout-item.grid-cols-1:first-child {
            position: sticky;
            top: 11.6rem;
        }

        .block-layout__content .layout-item.grid-cols-1:first-child img {
            /* height: calc(100vh - 10rem) !important; */
        }

        .blank-section  {
            padding-bottom: 0;
        }

        .blank-section .container {
            max-width: 100%;
            padding: 0;
        }

        #shopify-section-template--17438665179195__announcement_bar_bzgxdf,
        #shopify-section-template--17351871397947__announcement_bar_bzgxdf {
            position: sticky;
            top:0;
            z-index: 99;
        }
    }

    .accordion-item__content {
        line-height: 1.5;
        font-size: 1.6rem;
        padding-top: 0.6rem;
        color: #000;
    }

    .checkout__flavor {
        border-radius: 0.6rem;
        border: 1px solid #ccc;
    }
    .checkout__flavor-image   {
        border-radius: 0.6rem 0 0 0.6rem;
    }

    .checkout .qty-picker__btn  {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        background-color: #0D3063;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .qty-picker__input {
        font-size: 2.6rem;
        font-weight: 500;
        color: #111111;
        font-family: 'Poppins', sans-serif;
    }

    .checkout__size input ,
    .checkout__frequency input {
        display: none;
    }

    .checkout__size {
        cursor: pointer;
    }

    .checkout__size:hover .checkout__size-inner,
    .checkout__size input:checked + .checkout__size-inner {
        border-color: #0D3063;
        box-shadow: inset 0 0 0 1px #0D3063;
        background-color: #E2F0FF99;
    }

    .checkout__size-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .4rem;
        padding: 1.4rem 0.6rem .6rem;
        border: 1px solid #ccc;
        background-color: #fff;
        text-align: center;
        transition: all 0.3s ease;
    }

    .checkout__size-saving {
        background-color: #21A600;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.8rem;
        padding: 0 1.2rem;
        border-radius: 1.2rem;
        font-family: 'Poppins', sans-serif;
        min-width: 10.6rem;
        text-align: center;
    }

    [data-blue-label],
    [data-yellow-label] {
        position: relative;
    }

    [data-blue-label]::before ,
    [data-yellow-label]::before {
        content: attr(data-blue-label);
        position: absolute;
        top: -1rem;
        left: 0.8rem;
        right: 0.8rem;
        text-align: center;
        background: linear-gradient(90deg, #0D3063 0%, #1A61C9 100%);
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        border-radius: 0.3rem;
        padding: 0 0.6rem;
        line-height: 2rem;
        white-space: nowrap;
        display: block;
    }

    [data-yellow-label]::before   {
        background: #FFE427 !important;
        color: #0D3063;
        content: attr(data-yellow-label);
    }

    .checkout__frequency-item {
        border-radius: 0.8rem;
        border: 1px solid #D5D7DA;
        padding: 1rem 1.4rem;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .checkout__frequency-item:hover,
    .checkout__frequency-item--active {
        border-color: #0D3063;
        background-color: #E2F0FF;
    }

    .checkout__frequency-title::before {
        content: '';
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        background-color: #fff;
        border: 1px solid #D5D7DA;
        border-radius: 50%;
        transition: all 0.3s ease;
    }

    .checkout__frequency-item--active .checkout__frequency-title::before {
        box-shadow: inset 0 0 0 3px #0D3063;
        border-color: #0D3063;
    }

    .checkout__frequency-features li {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_72_5199)'%3E%3Crect x='0.5' width='20' height='20' rx='10' fill='%2375BDFF'/%3E%3Cg clip-path='url(%23clip1_72_5199)'%3E%3Cpath d='M1.15785 5.23144C-1.68864 7.66793 -4.04783 11.1516 -5.80025 14.9236C-5.8471 15.0266 -5.99235 15.0243 -6.03921 14.9236C-7.09581 12.5761 -8.19927 10.8518 -9.44564 9.94981C-9.55575 9.87019 -9.48547 9.69677 -9.35192 9.71318C-7.99778 9.8842 -6.51715 10.7627 -5.91973 11.6647C-4.28211 8.81121 -1.99554 6.691 1.00792 5.01821C1.14614 4.94091 1.27733 5.12834 1.15785 5.23144Z' fill='white'/%3E%3Cpath d='M16.1578 5.23144C13.3114 7.66793 10.9522 11.1516 9.19975 14.9236C9.1529 15.0266 9.00765 15.0243 8.96079 14.9236C7.90419 12.5761 6.80073 10.8518 5.55436 9.94981C5.44425 9.87019 5.51453 9.69677 5.64808 9.71318C7.00222 9.8842 8.48285 10.7627 9.08027 11.6647C10.7179 8.81121 13.0045 6.691 16.0079 5.01821C16.1461 4.94091 16.2773 5.12834 16.1578 5.23144Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_72_5199'%3E%3Crect x='0.5' width='20' height='20' rx='10' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1_72_5199'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: 2rem;
        background-repeat: no-repeat;
        background-position: left 0;
        padding-left: 2.6rem;
        padding-top: .3rem;
        min-height: 2.4rem;
        white-space: nowrap;
    }

    .checkout__cta {
        border-top: 2px solid #0D3063;
        background-color: #E4FEE5;
        padding: 0.6rem 1rem 1.1rem;
    }

    .checkout__cta-btn:disabled {
        background-color: #6E6E6E;
        border-color:rgb(37, 37, 37);
        color: #fff;
        cursor: not-allowed;
    }

    .mini-cart__subscription-features ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
    .checkout__gifts-product-inner {
        border: 1px dashed var(--color-coolBlack);
        background-color: #E4FEE5;
    }

    [data-lock-text] {
        position: relative;
    }

    .checkout__gifts-product-locked {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.2rem;
        line-height: 1;
        gap: 0.6rem;
        font-weight: 600;
        font-family: var(--font-family-poppins);
        padding: 0.5rem 0.4rem;
    }

    .thumbnail-gallery .swiper-slide {
        width: 4.6rem;
        height: 4.6rem;
    }

    @media (min-width: 1024px) {
        .thumbnail-gallery {
            height: 50rem;
        }
    }

    .thumbnail-gallery__item--active {
        border-width: 0.3rem;
        overflow: hidden;
        border-color: #0D3063 !important;
    }

    .thumbnail-gallery__item   {
        border-radius: 0.6rem;
    }

    @media (max-width: 1024px) { 
        .product__info {
            max-width: 100%;
            width: 100%;
            padding-bottom: 2.4rem;
        }

        .layout-item:first-child {
            display: none;
        }
    }

    @media (max-width: 768px) {
        .thumbnail-gallery {
            margin-left: 1rem;
            margin-right: 1rem;
            justify-content: center;
        }

        .thumbnail-gallery .swiper-wrapper {
            justify-content: center;
        }

        .thumbnail-gallery .swiper-slide {
            width: 3.3rem;
            height: 3.3rem;
        }

        .product__info .block-heading,
        .product__info .block-text {
            display: none;
        }

        .inline-review  {
            display: none;
        }

        .ts-timer__title   {
            font-size: 13px;
        }
    }
{% endstyle %}

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('product', () => ({
            initialMinQty: 2,
            minQty: 2,
            maxQty: 0,
            isProcessing: false,
            cartItems: null,
            sellingPlan: null,
            currentQty: 0,
            currentTotal: 0,
            allGiftsAvailableMoreThanOne: false,
            allGiftsAvailableEqual3: true,
            products: [
                {%- for product in bst.products -%}
                    {
                        id: {{ product.id }},
                        handle: '{{ product.handle }}',
                        variants: [
                            {%- for variant in product.variants -%}
                                {
                                    id: {{ variant.id }},
                                    title: '{{ variant.title }}',
                                    description: '{{ variant.metafields.custom.variant_description }}',
                                    image: '{{ variant.metafields.custom.variant_image | image_url: width: 120 | default: variant.image | image_url: width: 120 }}',
                                    price: {{ variant.price }},
                                    quantity: 0,
                                }{%- unless forloop.last -%},{%- endunless -%}
                            {%- endfor -%}
                        ],
                        price: {{ product.price }},
                    }{%- unless forloop.last -%},{%- endunless -%}
                {%- endfor -%}
            ],
            currentProduct: null,
            price: {
                compareAtPrice: 0,
                actualPrice: 0,
            },
            currentPouch: null,
            relatedDiscounts: null,
            {% if bst.products != blank %}
            giftsProducts: [
                {%- for product in bst.gifts_products -%}
                    {
                        giftMinQty: {{ forloop.index }},
                        id: {{ product.id }},
                        title: '{{ product.title }}',
                        price: {{ product.price }},
                        image: '{{ product.featured_image | image_url: width: 300 }}',
                        variant_id: {{ product.first_available_variant.id | default: product.variants[0].id }}
                    }{%- unless forloop.last -%},{%- endunless -%}
                {%- endfor -%}
            ],
            {% endif %}
            pouches: [
                {%- for bag in bst.related_pouches -%}
                {
                    minQty: {{ bag.min_quantity }},
                    title: '{{ bag.title }}',
                    price_per_packet: {{ bag.price_per_item_in_cents }},
                    {% if bst.test_percent and bag.min_quantity == 1 %}
                    saving_percent: 'Save 28%',
                    {% else %}
                        saving_percent: '{{ bag.saving_label_text }}',
                    {% endif %}
                    price: {{ bag.price }},
                    blue_badge: '{{ bag.blue_badge_text | default: '' }}',
                    yellow_badge: '{{ bag.yellow_badge_text | default: '' }}',
                    compare_at_price: {{ bag.compare_at_price }},
                    compare_price_per_packet: {{ bag.compare_price_per_item }},
                    discount_amount: {{ bag.discount_amount }},
                    sellingPlan: {{ bag.selling_plan_id }}
                }
                {%- unless forloop.last -%},{%- endunless -%}
                {%- endfor -%}
            ],
            resetQty() {
                this.currentProduct.variants.forEach(v => {
                    v.quantity = 0;
                });
                this.currentTotal = 0;
                this.currentQty = 0;

                this.recalculateTotal();
            },
            recalculateTotal() {
                let total = 0;
                let qty = 0;

                this.currentProduct.variants.forEach(v => {
                    total += v.price * v.quantity;
                    qty += v.quantity;
                });

                this.currentTotal = total;
                this.currentQty = qty;

                if (this.currentQty > this.minQty) {
                    if (this.pouches.find(pouch => pouch.minQty == this.currentQty)) {
                        this.minQty = this.currentQty;
                    } else {
                        this.minQty = this.pouches.reduce((max, pouch) => Math.max(max, pouch.minQty), 0);
                    }
                } else {
                    if (this.currentQty < this.initialMinQty) {
                        this.minQty = this.initialMinQty;
                    } else {
                        this.minQty = this.currentQty;
                    }
                }
            },
            updateCurrentPouch() {
                if (this.currentQty > this.minQty) {
                    this.resetQty();
                }

                this.minQty = this.minQty || this.pouches[0]?.minQty;
                this.currentPouch = this.pouches.find(pouch => pouch.minQty == this.minQty) || this.pouches[0];
                this.sellingPlan = this.currentPouch?.sellingPlan;

                this.maxQty = this.pouches.reduce((max, pouch) => Math.max(max, pouch.minQty), 0);
            },
            formatMoney(price) {
                const newPrice = (price / 100).toFixed(2);
                return `$${newPrice}`;
            },
            setUpDefault() {
                const productHandle = new URLSearchParams(window.location.search).get('product-handle');
                const minQty = new URLSearchParams(window.location.search).get('minQty');

                if (productHandle) {
                    this.currentProduct = this.products.find(product => product.handle === productHandle);
                }

                if (minQty) {
                    this.initialMinQty = minQty;
                    this.minQty = minQty;
                }
            },
            addToCart() {
                if(this.isProcessing) return;
                this.isProcessing = true;

                const itemsForCart = [];

                this.currentProduct.variants.forEach(v => {
                    if (v.quantity > 0) {
                        itemsForCart.push({
                            id: v.id,
                            quantity: v.quantity,
                            selling_plan: this.sellingPlan
                        });
                    }
                });

                if (this.giftsProducts) {
                   this.giftsProducts.forEach((product, index) => {
                        const exists = itemsForCart.some(item => item.id === product.variant_id);

                        if (!exists) {

                            if (this.allGiftsAvailableEqual3) {
                                if ((index) > this.minQty) return;
                            }

                            itemsForCart.push({
                                id: product.variant_id,
                                quantity: 1
                            });
                        }
                    });
                }

                if (Array.isArray(itemsForCart)) {
                    Alpine.store('miniCart').clearAndAdd(itemsForCart, true);
                }
            },
            init() {
                this.setUpDefault();
                this.updateCurrentPouch();
                
                this.$watch('minQty', () => {
                    this.updateCurrentPouch();
                });
                
                window.addEventListener('pageshow', (event) => {
                    if (event.persisted) {
                        this.isProcessing = false;
                    }
                });
            }
        }))
    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.10.2/lottie.min.js"></script>
<script>
  lottie.loadAnimation({
    container: document.getElementById('lottie'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: 'https://cdn.shopify.com/s/files/1/0309/2257/1835/files/cZmto8MLwK.json?v=1759358382'
  });
</script>
{% schema %}
{
  "name": "Checkout Flavors",
  "settings": [
    {
      "type": "product_list",
      "label": "Products",
      "id": "products"
    },
    {
      "type": "product_list",
      "label": "Gifts Products",
      "id": "gifts_products"
    },
    {
      "type": "metaobject_list",
      "label": "Related Pouches",
      "id": "related_pouches",
      "metaobject_type": "gift_bag"
    }
  ],
  "presets": [
    {
      "name": "Checkout Flavors"
    }
  ]
}
{% endschema %}