{% assign bst = block.settings %}

{% if bst.hide_on_mobile or bst.hide_on_desktop %}
  <style>
    {% if bst.hide_on_mobile %}
      @media (max-width: 768px) {
        #{{ block.id }} {
          display: none !important;
        }
      }
    {% endif %}
    
    {% if bst.hide_on_desktop %}
      @media (min-width: 769px) {
        #{{ block.id }} {
          display: none !important;
        }
      }
    {% endif %}
  </style>
{% endif %}
{% if bst.image != blank %}
<div class="doctor-review flex items-center mt-2 gap-4 p-4 bg-[#ffffff] rounded-[1.2rem] border border-[#CCCCCC] rounded-[.8rem]" id="{{ block.id }}">
    <div class="doctor-review__image flex-shrink-0 overflow-hidden rounded-[.6rem]">
        {% render 'img', image: bst.image, max_width: 160 %}
    </div>
    <div class="doctor-review__content">
        {% if bst.title != empty %}
            <div class="doctor-review__title font-bold text-bold mb-1">
                {{ bst.title }}
            </div>
        {% endif %}
        {% if bst.text != empty %}
            <div class="doctor-review__text mb-1" style="color: #111111; font-weight: 500;">
                {{ bst.text }}
            </div>
        {% endif %}
        {% if bst.name != empty %}
            <div class="doctor-review__name text-sm" style="color: #333333;">
                {{ bst.name }}
            </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% stylesheet %}
.doctor-review__image {
    width: 7.6rem;
    height: 8.6rem;
}
.doctor-review__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Doctor Review",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "Meet Our Expert Advisor"
    },
    {
      "type": "checkbox",
      "label": "Hide on mobile",
      "id": "hide_on_mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "label": "Hide on desktop",
      "id": "hide_on_desktop",
      "default": false
    },
    {
      "type": "image_picker",
      "label": "Image",
      "id": "image"
    },
    {
      "type": "richtext",
      "label": "Text",
      "id": "text",
      "default": "<p>I've reviewed many electrolyte mixes, yet Nectar consistently ranks at the top of my list!</p>"
    },
    {
      "type": "text",
      "label": "Name",
      "id": "name",
      "default": "Dr. John Doe"
    }
  ],
  "presets": [
    {
      "name": "Doctor Review"
    }
  ]
}
{% endschema %}