{% assign bst = block.settings %}
<style>
    #{{ block.id }} {
        font-size: var(--font-size-{{ bst.heading_size }});
        font-weight: var(--font-weight-{{ bst.font_weight }});
        font-family: var(--font-family-{{ bst.font_family }});
        line-height: 1.2;
    }
</style>

<div class="block-heading" id="{{ block.id }}">
    {{ bst.title }}
</div>

{% schema %}
{
  "name": "Heading",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "label": "Title",
      "id": "title",
      "default": "<h2>Heading</h2>"
    },
    {
      "type": "select",
      "label": "Heading size",
      "id": "heading_size",
      "options": [
        {
          "value": "2xl",
          "label": "2XL"
        },
        {
          "value": "xl",
          "label": "XL"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "xs",
          "label": "XS"
        }
      ],
      "default": "xl"
    },
    {
      "type": "select",
      "label": "Font weight",
      "id": "font_weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "bold",
          "label": "Bold"
        },
        {
          "value": "black",
          "label": "Black"
        }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "label": "Font family",
      "id": "font_family",
      "options": [
        {
          "value": "poppins",
          "label": "Poppins"
        },
        {
          "value": "values-sans",
          "label": "Values Sans"
        }
      ],
      "default": "poppins"
    }
  ],
  "presets": [
    {
      "name": "Heading"
    }
  ]
}
{% endschema %}