{% assign bst = block.settings %}
<style>
    #{{ block.id }} {
        font-size: var(--font-size-{{ bst.heading_size }});
        font-weight: var(--font-weight-{{ bst.font_weight }});
        font-family: var(--font-family-{{ bst.font_family }});
        line-height: 1.2;
        text-align: {{ bst.text_alignment }};
        {% if bst.text_color != 'rgba(0,0,0,0)' %}
            color: {{ bst.text_color }};
        {% endif %}
    }

    #{{ block.id }} b,
    #{{ block.id }} strong {
        color: var(--color-brilliantAzure);
    }

    {% if bst.use_mobile_settings %}
    @media (max-width: 768px) {
        #{{ block.id }} {
            font-size: var(--font-size-{{ bst.heading_size_mobile }});
            font-weight: var(--font-weight-{{ bst.font_weight_mobile }});
            font-family: var(--font-family-{{ bst.font_family_mobile }});
            text-align: {{ bst.text_alignment_mobile }};
        }
    }
    {% endif %}
</style>

<div class="block-heading" id="{{ block.id }}">
    {{ bst.title }}
</div>

{% schema %}
{
  "name": "Heading",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "label": "Title",
      "id": "title",
      "default": "<h2>Heading</h2>"
    },
    {
      "type": "color",
      "label": "Text color",
      "id": "text_color",
      "default": "#123456"
    },
    {
      "type": "select",
      "label": "Text alignment",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "label": "Heading size",
      "id": "heading_size",
      "options": [
        {
          "value": "4xl",
          "label": "4XL"
        },
        {
          "value": "3xl",
          "label": "3XL"
        },
        {
          "value": "2xl",
          "label": "2XL"
        },
        {
          "value": "xl",
          "label": "XL"
        },
        {
          "value": "lg",
          "label": "LG"
        },
        {
          "value": "md",
          "label": "MD"
        },
        {
          "value": "sm",
          "label": "SM"
        },
        {
          "value": "xs",
          "label": "XS"
        }
      ],
      "default": "xl"
    },
    {
      "type": "select",
      "label": "Font weight",
      "id": "font_weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "bold",
          "label": "Bold"
        },
        {
          "value": "black",
          "label": "Black"
        }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "label": "Font family",
      "id": "font_family",
      "options": [
        {
          "value": "poppins",
          "label": "Poppins"
        },
        {
          "value": "values-sans",
          "label": "Values Sans"
        }
      ],
      "default": "poppins"
    },
    {
      "type": "checkbox",
      "label": "Use mobile settings",
      "id": "use_mobile_settings",
      "default": false
    },
    {
        "type": "select",
        "label": "Text alignment",
        "id": "text_alignment_mobile",
        "visible_if": "{{ block.settings.use_mobile_settings }}",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "label": "Heading size",
        "id": "heading_size_mobile",
        "visible_if": "{{ block.settings.use_mobile_settings }}",
        "options": [
          {
            "value": "4xl",
            "label": "4XL"
          },
          {
            "value": "3xl",
            "label": "3XL"
          },
          {
            "value": "2xl",
            "label": "2XL"
          },
          {
            "value": "xl",
            "label": "XL"
          },
          {
            "value": "lg",
            "label": "LG"
          },
          {
            "value": "md",
            "label": "MD"
          },
          {
            "value": "sm",
            "label": "SM"
          },
          {
            "value": "xs",
            "label": "XS"
          }
        ],
        "default": "xl"
      },
      {
        "type": "select",
        "label": "Font weight",
        "id": "font_weight_mobile",
        "visible_if": "{{ block.settings.use_mobile_settings }}",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "bold",
            "label": "Bold"
          },
          {
            "value": "black",
            "label": "Black"
          }
        ],
        "default": "normal"
      },
  ],
  "presets": [
    {
      "name": "Heading"
    }
  ]
}
{% endschema %}