{% assign bst = block.settings %}

{% assign ingredient_modal = bst.ingredient_modal_metaobject %}

{% capture checkout_url %}
    {% if product.metafields.custom.use_offer_page_with_gifts_instead_checkout %}
        /pages/offer?product-handle={{ product.handle }}
    {% else %}
        /pages/checkout?product-handle={{ product.handle }}
    {% endif %}
{% endcapture %}

<div class="ingredients pt-4" x-data="Alpine.store('ingredients')">
    <div class="ingredients__grid grid md:grid-cols-2 gap-4">
        {% for ingredient in bst.related_ingredients %}
            <div class="ingredients__item flex gap-4 md:gap-[1.4rem] justify-between items-center py-[2rem] px-[1.5rem] bg-[#FAFAFA] border-[0.1rem] border-[#CCCCCC] rounded-xl text-[#000000]">
                <div class="ingredients__item-content">
                    <h3 class="ingredients__item-name text-[#222222] mb-2 md:mb-3 text-baseLg md:text-xl font-black">{{ ingredient.name }}</h3>
                    <div class="ingredients__item-description text-base">{{ ingredient.description | metafield_tag }}</div>
                </div>
                <div class="ingredients__item-image w-[8rem] md:w-[12rem] flex-shrink-0">
                    {% render 'img', image: ingredient.image, max_width: 240, class: 'w-full h-full object-cover' %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if bst.btn_text != blank and ingredient_modal != blank %}
    <div class="buttons-group flex flex-col md:flex-row justify-center items-center mt-8">
    
        <button class="btn btn--aqua" @click="Alpine.store('ingredients').openModal = !Alpine.store('ingredients').openModal">
            {{ bst.btn_text }}
        </button>
    </div>
    {% endif %}

    {% if ingredient_modal != blank %}
    <div class="ingredients__modal flex items-start justify-center" :class="{ 'active': Alpine.store('ingredients').openModal }">
        <div class="ingredients__modal-overlay fixed inset-0 bg-black opacity-50" @click="openModal = false"></div>
        <div class="ingredients__modal-content w-full max-w-[72.6rem] p-[1.6rem] md:p-[3rem] mx-auto bg-white md:bg-[#E2F0FF] border-[3px] border-[#4B8ECB] rounded-[2rem] relative">

            <button class="ingredients__modal-close absolute top-[1.6rem] right-[1.6rem] w-[3.6rem] h-[3.6rem] md:w-[5.4rem] md:h-[5.4rem] bg-[#E1F0FF] md:bg-white rounded-full flex items-center justify-center" @click="openModal = false">
                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-[1.6rem] h-[1.6rem] md:w-[2.2rem] md:h-[2.3rem]">
                    <path d="M14.63 11.4079L21.436 4.60193C22.188 3.84993 22.188 2.63077 21.436 1.87995L20.5286 0.97263C19.7764 0.220404 18.5573 0.220404 17.8064 0.97263L11.0007 7.77838L4.1947 0.97122C3.44271 0.219229 2.22354 0.219229 1.47273 0.97122L0.563993 1.87854C-0.187998 2.63077 -0.187998 3.84993 0.563993 4.60075L7.37116 11.4079L0.565403 18.2137C-0.186823 18.9659 -0.186823 20.1851 0.565403 20.9359L1.47273 21.8432C2.22472 22.5952 3.44388 22.5952 4.1947 21.8432L11.0007 15.0372L17.8064 21.8432C18.5587 22.5952 19.7778 22.5952 20.5286 21.8432L21.436 20.9359C22.188 20.1836 22.188 18.9645 21.436 18.2137L14.63 11.4079Z" fill="#0D3063"/>
                </svg> 
            </button>

            {% if bst.ingredient_modal_logo != blank %}
                <div class="ingredients__modal-logo flex justify-center md:justify-start mb-[1.4rem] md:mb-[2.4rem]">
                    {{ bst.ingredient_modal_logo }}
                </div>
            {% endif %}

            <div class="ingredients__modal-image">
                {% for image in ingredient_modal.table_images.value %}
                    {% if forloop.first %}
                        <div class="ingredients__modal-image-desktop hidden md:block">
                            {% render 'img', image: image, max_width: 1400 %}
                        </div>
                    {% else %}
                        <div class="ingredients__modal-image-mobile block md:hidden">
                            {% render 'img', image: image, max_width: 800 %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            {% if ingredient_modal.ingredients_description != blank %}
                <div class="pt-3 md:pt-6">
                    <div class="ingredients__modal-caption font-family-poppins text-[1.5rem]  md:text-base">
                        {{ ingredient_modal.ingredients_description | metafield_tag }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

{% stylesheet %}
  .ingredients__modal {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-y: auto;
    padding: 1.6rem;
  }

  .ingredients__modal.active {
    visibility: visible;
    opacity: 1;
  }
{% endstylesheet %}

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('ingredients', {
            openModal: false,
          
            init() {
                this.openModal = false;
            },
        });
    });
</script>

{% schema %}
{
  "name": "Ingredients",
  "settings": [
    {
      "type": "header",
      "content": "Ingredients"
    },
    {
      "type": "metaobject_list",
      "label": "Related ingredients",
      "id": "related_ingredients",
      "metaobject_type": "product_ingredients"
    },
    {
      "type": "header",
      "content": "Modal settings"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button text",
      "default": "See Ingredients &amp; Nutrition Facts"
    },
    {
      "type": "textarea",
      "id": "ingredient_modal_logo",
      "label": "Ingredient modal logo"
    },
    {
      "type": "metaobject",
      "id": "ingredient_modal_metaobject",
      "label": "Ingredient Metaobject",
      "metaobject_type": "ingredients_modal"
    }
  ],
  "presets": [
    {
      "name": "Ingredients"
    }
  ]
}
{% endschema %}