{% assign bst = block.settings %}
<style>
    #{{ block.id }} {
        font-size: {{ bst.font_size | times: 0.1 }}rem;
        font-weight: var(--font-weight-{{ bst.font_weight }});
        font-family: var(--font-family-{{ bst.font_family }});
        line-height: 1.2;
        text-align: {{ bst.text_alignment }};
    }

    @media (max-width: 768px) {
        #{{ block.id }} {
            font-size: {{ bst.font_size_mobile | times: 0.1 }}rem;
        }
    }
</style>
{% stylesheet %}
  
{% endstylesheet %}

<div class="block-text" id="{{ block.id }}" {% if bst.text_color != 'rgba(0,0,0,0)' %}style="color: {{ bst.text_color }};"{% endif %}>
    {{ bst.title }}
</div>

{% schema %}
{
  "name": "Text",
  "tag": null,
  "settings": [
    {
        "type": "richtext",
        "label": "Title",
        "id": "title",
        "default": "<p>Text Goes Here</p>"
    },
    {
        "type": "select",
        "label": "Text alignment",
        "id": "text_alignment",
        "default": "left",
        "options": [
            {
                "value": "left",
                "label": "Left"
            },
            {
                "value": "center",
                "label": "Center"
            },
            {
                "value": "right",
                "label": "Right"
            }
        ]
    },
    {
        "type": "select",
        "label": "Font family",
        "id": "font_family",
        "options": [
          {
            "value": "poppins",
            "label": "Poppins"
          },
          {
            "value": "values-sans",
            "label": "Values Sans"
          }
        ],
        "default": "values-sans"
    },
    {
      "type": "select",
      "label": "Font weight",
      "id": "font_weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "bold",
          "label": "Bold"
        },
        {
          "value": "black",
          "label": "Black"
        }
      ],
      "default": "normal"
    },
    {
        "type": "color",
        "label": "Text color",
        "id": "text_color",
        "default": "transparent"
    },
    {
        "type": "header",
        "content": "Desktop"
    },
    {
        "type": "range",
        "label": "Font size",
        "id": "font_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "default": 16
    },
    {
        "type": "header",
        "content": "Mobile"
    },
    {
        "type": "range",
        "label": "Font size",
        "id": "font_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "default": 16
    }
  ],
  "presets": [
    {
      "name": "Text"
    }
  ]
}
{% endschema %}