<!doctype html>
<html class="no-js antialiased scroll-smooth" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">

    {% if shop.brand.logo != blank %}
      <link rel="icon" type="image/png" href="{{ shop.brand.logo | image_url: width: 32, height: 32 }}">
    {% endif %}

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    
    <style>
      [x-cloak] {
        display: none !important;
      }
      #ps__widget_container {
        display: none !important;
      }
    </style>
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    {% render 'entry' with 'main.theme.js' %}
    {% render 'entry' with 'main.scss', preload_stylesheet: true %}
    
    {{ content_for_header }}

    <style>
      :root {
        {% if settings.primary_font == 'poppins' %}
          --font-family-primary: 'Poppins', sans-serif;
        {% elsif settings.primary_font == 'value_sans' %}
          --font-family-primary: 'Values Sans', sans-serif;
        {% elsif settings.primary_font == 'atkinson' %}
          --font-family-primary: 'Atkinson', sans-serif;
        {% endif %}
      }
      body {
        font-family: var(--font-family-primary);
    }
    </style>

  </head>
  <body>
    
    {% unless template contains 'gift' %}
        {% comment %} Announcement bar {% endcomment %}
        {% section 'announcement-bar' %}

        {% unless template contains 'page' %}
          {% comment %} Header {% endcomment %}
          {% sections 'header-group' %}
        {% endunless %}    
    {% endunless %}

    {% comment %} Main content {% endcomment %}
    <main>
        {{ content_for_layout }}
    </main>
    
    {% comment %} Footer {% endcomment %}
    {% sections 'footer-group' %}

    {% comment %} Mobile nav {% endcomment %}
    {% section 'mobile-nav' %}

    {% comment %} Mini cart {% endcomment %}
    {% section 'mini-cart' %}

    {% if settings.products_storage != blank %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.store('productsStorage', {
                activePurpose: 'Hydration',
                products: [
                    {% for product in settings.products_storage %}
                        {% assign sellingPlanGroup = product.selling_plan_groups | where: 'app_id', 'SKIO' | first %}
                        {
                            id: {{ product.id }},
                            handle: '{{ product.handle }}',
                            title: '{{ product.title }}',
                            price: {{ product.price | default: 0 }},
                            comparePrice: {{ product.compare_at_price | default: 0 }},
                            sellingPlans: {{ sellingPlanGroup.selling_plans | json }},
                            variants: [
                                {% for variant in product.variants %}
                                    {
                                        id: {{ variant.id | default: 0 }},
                                        image: '{{ variant.metafields.custom.variant_image | default: variant.image | image_url: width: 250 }}',
                                        title: '{{ variant.title }}',
                                        description: '{{ variant.metafields.custom.variant_description }}',
                                        price: {{ variant.price | default: 0 }},
                                        comparePrice: {{ variant.compare_at_price | default: 0 }},
                                        quantity: 0,
                                        selling_plan_allocations: [
                                            {% for sellingPlanAllocation in variant.selling_plan_allocations %}
                                                {
                                                    selling_plan_id: {{ sellingPlanAllocation.selling_plan.id }},
                                                    price: {{ sellingPlanAllocation.price | default: 0 }},
                                                } {% unless forloop.last %},{% endunless %}
                                            {% endfor %}
                                        ]
                                    } {% unless forloop.last %},{% endunless %}
                                {% endfor %}
                            ]
                        } {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                ],
        
                init() {
                    console.log(this.activePurpose, 111111)
                }
            });
        });
    </script>
    {% endif %}
  </body>
</html>
