<!doctype html>
<html class="no-js antialiased scroll-smooth" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">

    {% if shop.brand.logo != blank %}
      <link rel="icon" type="image/png" href="{{ shop.brand.logo | image_url: width: 32, height: 32 }}">
    {% endif %}

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {% render 'entry' with 'main.theme.js' %}
    {% render 'entry' with 'main.scss', preload_stylesheet: true %}
    
    {{ content_for_header }}

  </head>
  <body>
    <main>
        {{ content_for_layout }}
    </main>
  </body>
</html>
