<!doctype html>
<html class="no-js antialiased scroll-smooth" lang="{{ request.locale.iso_code }}">
  <head>
    {% comment %} {%- if request.host == "drinknectar.com" -%}
      <script>
        {% if template.name == "index" %}
          window.location.href = "https://drinknectar.com/pages/tv-offer";
        {% else %}
          const currentLink = window.location.href;
          window.location.href = currentLink.replace("drinknectar.com", "drinknectar.co")
        {% endif %}
      </script>
    {%- endif -%} {% endcomment %}
    <script>/* >> Heatmap.com :: Snippet << */(function (h,e,a,t,m,ap) { (h._heatmap_paq = []).push([ 'setTrackerUrl', (h.heatUrl = e) + a]); h.hErrorLogs=h.hErrorLogs || []; ap=t.createElement('script');  ap.src=h.heatUrl+'preprocessor.min.js?sid='+m;  ap.defer=true; t.head.appendChild(ap); ['error', 'unhandledrejection'].forEach(function (ty) {     h.addEventListener(ty, function (et) { h.hErrorLogs.push({ type: ty, event: et }); }); });})(window,'https://dashboard.heatmap.com/','heatmap.php',document,2952);</script>
 {%- render 'ecom_header' -%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">

    {% if shop.brand.logo != blank %}
      <link rel="icon" type="image/png" href="{{ shop.brand.logo | image_url: width: 32, height: 32 }}">
    {% endif %}

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var selector = 'a[href="/account/login?checkout_url=/tools/recurring/login"]';
        document.querySelectorAll(selector).forEach(function (a) {
          a.setAttribute('href', '/tools/recurring/login');
        });
      });
    </script>

    <script>
      (function () {
        var selector = '#customer_tab_content .rc_header-settings__title.rc_title-bar__title h2';

        function updateHeading() {
          var heading = document.querySelector(selector);
          if (!heading) return;
          if (heading.textContent.trim() !== 'Subscription Management Access') {
            heading.textContent = 'Subscription Management Access';
          }
        }

        document.addEventListener('DOMContentLoaded', updateHeading);
        new MutationObserver(updateHeading).observe(document.body, {
          childList: true,
          subtree: true
        });
      })();
    </script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    {% render 'entry' with 'main.theme.js' %}
    {% render 'entry' with 'main.scss', preload_stylesheet: true %}
    
    {{ content_for_header }}

    
    <style>
      :root {
        {% if settings.primary_font == 'poppins' %}
          --font-family-primary: 'Poppins', sans-serif;
        {% elsif settings.primary_font == 'value_sans' %}
          --font-family-primary: 'Values Sans', sans-serif;
        {% elsif settings.primary_font == 'atkinson' %}
          --font-family-primary: 'Atkinson', sans-serif;
        {% endif %}
      }
      body {
        font-family: var(--font-family-primary);
      }

      #not_verified > div.rc_header-settings.rc_title-bar > div > p:nth-child(3) > a, #not_verified > div:nth-child(2) > div > p:nth-child(3) > a{
        line-height: 3rem;
        white-space: nowrap;
        border-radius: .8rem;
        background-color: #0d3063;
        border-color: #0d3063;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 0 1.2rem;
        display: block;
        width: 12em;
        margin: auto;
      }

      #not_verified > div.rc_header-settings.rc_title-bar, #not_verified > div:nth-child(2) > div > h4{
      display: none !important;
      }

      #not_verified > div:nth-child(2) > div > p:nth-child(3){
      margin: 1em;
      }

      #not_verified > div:nth-child(2){
      height: 20em
      }

      #customer_tab_content > div > div > img, body > main > div.section-header.text-center, #customer_tab_content > div > div > div > div.rc_header-settings__description, #login_verification > p > a{
      display: none !important;
      }

      #customer_email{
        border: 2px solid lightgrey;
        border-radius: 5px;
        margin: 10px;
        text-align: center;
        width: 250px;
        height: 40px;
      }

      #customer_tab_content > div{
        border: 2px solid black;
        padding: 25px;
        border-radius: 5px;
      }

      #login_verification > div:nth-child(4) > button{
        line-height: 3rem;
        white-space: nowrap;
        border-radius: .8rem;
        background-color: #0d3063;
        border-color: #0d3063;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 0 1.2rem;
        display: block;
        width: 250px;
        margin: auto;
      }
    </style>

    {% if request.path contains '/a/account' %}
      <style>
        .shopify-section-group-header-group {
          position: static !important;
        }
      </style>
    {% endif %}

  </head>
  <body data-template="{{ template }}">

    {% unless template contains 'gift' or template contains 'offer-only-flavors' %}
        {% comment %} Announcement bar {% endcomment %}
        {% unless template contains 'reasons' %}
            {% section 'announcement-bar' %}
          {% comment %} Header {% endcomment %}
          {% sections 'header-group' %}
        {% endunless %}    
    {% endunless %}

    {% comment %} Main content {% endcomment %}
    <main>
        {{ content_for_layout }}
    </main>
    
    {% unless template contains 'reasons' %}
    {% comment %} Footer {% endcomment %}
    {% sections 'footer-group' %}
    {% endunless %}

    {% comment %} Mobile nav {% endcomment %}
    {% section 'mobile-nav' %}

    {% comment %} Mini cart {% endcomment %}
    {% section 'mini-cart' %}

    {% if settings.products_storage != blank %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.store('productsStorage', {
                activePurpose: 'Hydration',
                products: [
                    {% for product in settings.products_storage %}
                        {% assign sellingPlanGroup = product.selling_plan_groups | where: 'app_id', 'SKIO' | first %}
                        {
                            id: {{ product.id }},
                            handle: '{{ product.handle }}',
                            title: '{{ product.title }}',
                            price: {{ product.price | default: 0 }},
                            comparePrice: {{ product.compare_at_price | default: 0 }},
                            sellingPlans: {{ sellingPlanGroup.selling_plans | json }},
                            variants: [
                                {% for variant in product.variants %}
                                    {
                                        id: {{ variant.id | default: 0 }},
                                        image: '{{ variant.metafields.custom.variant_image | default: variant.image | image_url: width: 250 }}',
                                        title: '{{ variant.title }}',
                                        description: '{{ variant.metafields.custom.variant_description }}',
                                        price: {{ variant.price | default: 0 }},
                                        comparePrice: {{ variant.compare_at_price | default: 0 }},
                                        quantity: 0,
                                        selling_plan_allocations: [
                                            {% for sellingPlanAllocation in variant.selling_plan_allocations %}
                                                {
                                                    selling_plan_id: {{ sellingPlanAllocation.selling_plan.id }},
                                                    price: {{ sellingPlanAllocation.price | default: 0 }},
                                                } {% unless forloop.last %},{% endunless %}
                                            {% endfor %}
                                        ]
                                    } {% unless forloop.last %},{% endunless %}
                                {% endfor %}
                            ]
                        } {% unless forloop.last %},{% endunless %}
                    {% endfor %}
                ],
        
                init() {
                    
                }
            });
        });
    </script>
    {% endif %}
  {%- render "ecom_footer"-%}

    {% if template contains 'reasons' %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
            const scrollLinks = document.querySelectorAll('[href="#to-product-section"]');
            const productSection = document.querySelector('.product')?.closest('.blank-section');
            const stickyCta = document.querySelector('.shopify-section > .sticky-cta.fixed');
            
            if (!stickyCta) return;
            
            const isMobile = window.innerWidth < 768;
            const mobileOffset = -150;
            
            if (scrollLinks.length > 0 && productSection) {
                scrollLinks.forEach(link => {
                link.addEventListener('click', (e) => {
                    e.preventDefault();
            
                    const rectTop = productSection.getBoundingClientRect().top + window.scrollY;
            
                    // Смещение только на мобильных
                    const targetScroll = isMobile
                    ? rectTop - mobileOffset
                    : rectTop;
            
                    window.scrollTo({
                    top: targetScroll,
                    behavior: 'smooth'
                    });
                });
                });
            }
            
            function isProductSectionVisible() {
                if (!productSection) return false;
            
                const rect = productSection.getBoundingClientRect();
                const windowHeight = window.innerHeight || document.documentElement.clientHeight;
            
                return rect.top < windowHeight && rect.bottom > 0;
            }
            
            function handleStickyCta() {
                const scrolledEnough = window.scrollY > 200;
                const sectionVisible = isProductSectionVisible();
            
                if (sectionVisible) {
                stickyCta.classList.remove('sticky-cta--visible');
                return;
                }
            
                if (scrolledEnough) {
                stickyCta.classList.add('sticky-cta--visible');
                } else {
                stickyCta.classList.remove('sticky-cta--visible');
                }
            }
            
            handleStickyCta();
            window.addEventListener('scroll', handleStickyCta);
            window.addEventListener('resize', handleStickyCta);
            });
        </script>

        {% style %}
        .product + .sticky-cta {
            display: none !important;
        }

            .junip-review-section,
            .junip-product-review-container {
                background-color: #ffffff !important;
            }

            .junip-review-section {
                padding-bottom: 10rem !important;
            }
        {% endstyle %}
    {% endif %}

    {{ template.name }}
</body>
</html>
