{% assign sst = section.settings %}
<footer class="footer text-base pt-[3rem] md:pt-[5rem] pb-[2rem]" style="background-color: {{ sst.background_color }}; color: {{ sst.text_color }}" id="footer">
    <div class="container">
        <div class="footer__main mb-[1.4rem] grid md:grid-cols-[69rem_1fr] gap-8 max-md:mb-8">
            <div class="flex flex-row flex-wrap md:items-end">

                <div class="w-full md:max-w-[44rem] text-center flex flex-col mb-8 md:mb-4">
                    <h2 class="md:text-[2.6rem] text-[2rem] font-bold mb-8">
                        Save up to 50% off your first order!
                    </h2>

                    {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="newsletter-form__field-wrapper">
                          <div class="field relative">
                            <input
                              id="NewsletterForm--{{ section.id }}"
                              type="email"
                              name="contact[email]"
                              class="field__input h-[4.8rem] w-full max-w-[52rem] pl-[2.4rem] pr-[17rem] rounded-[4rem] bg-white text-sm md:text-[2rem] font-bold leading-[3.3rem] text-left text-[#000000] placeholder:text-[#8E8E8E] placeholder:opacity-100 placeholder:font-family-Poppins md:placeholder:text-[2rem] placeholder:font-bold placeholder:leading-[3.3rem] placeholder:text-left"
                              value="{{ form.email }}"
                              aria-required="true"
                              autocorrect="off"
                              autocapitalize="off"
                              autocomplete="email"
                              {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                              {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                              {% endif %}
                              placeholder="Enter Your Email"
                              required
                            >
                            <label class="field__label" for="NewsletterForm--{{ section.id }}"></label>
                            <button
                              type="submit"
                              class="newsletter-form__button block md:w-[11.5rem] px-8 absolute right-[.4rem] bg-[#0D3063] text-[1.8rem] rounded-[4rem] text-white top-[50%] translate-y-[-50%] h-[4rem] z-2"
                              name="commit"
                              id="Subscribe"
                              aria-label="{{ 'newsletter.button_label' | t }}"
                            >
                              <span class="svg-wrapper">
                                Sign Up
                              </span>
                            </button>
                          </div>
                          {%- if form.errors -%}
                            <small class="newsletter-form__message form__message" id="ContactFooter-error">
                              <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                              </span>
                              {{- form.errors.translated_fields.email | capitalize }}
                              {{ form.errors.messages.email -}}
                            </small>
                          {%- endif -%}
                        </div>
                        {%- if form.posted_successfully? -%}
                          <h3
                            class="newsletter-form__message newsletter-form__message--success form__message"
                            id="ContactFooter-success"
                            tabindex="-1"
                            autofocus
                          >
                            <span class="svg-wrapper">
                              {{- 'icon-success.svg' | inline_asset_content -}}
                            </span>
                            {{- 'newsletter.success' | t }}
                          </h3>
                        {%- endif -%}
                      {%- endform -%}
                </div>

                <div class="max-md:grid grid-cols-2 gap-8 hidden">
                
                    <div>
                        {% if sst.footer_menu_1 != blank %}
                            <h3 class="md:text-[1.8rem] font-bold mb-4 text-[#469AFF]">
                                Shop
                            </h3>
                            <ul class="footer__menu text-[1.4rem] font-bold flex flex-col gap-y-[1rem] md:gap-y-[0.8rem]">
                                {% for link in sst.footer_menu_1.links %}
                                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div>
                        <h3 class="md:text-[1.8rem] font-bold mb-4 text-[#469AFF]">
                            Help
                        </h3>
                        {% if sst.footer_menu_2 != blank %}
                            <ul class="footer__menu text-[1.4rem] font-bold flex flex-col gap-y-[1rem] gap-y-[0.8rem]">
                                {% for link in sst.footer_menu_2.links %}
                                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>

                {% if sst.foter_logo != blank %}
                    <div class="w-[15rem] md:w-[27.4rem] md:mt-[5rem] md:mb-[4rem] mb-[3.3rem] mt-[2rem]">
                        {% render 'img', image: sst.foter_logo, max_width: 300, class: 'w-full h-full object-contain' %}
                    </div>
                {% endif %}

                <div class="grid grid-cols-2 gap-8 text-[.8rem] text-white leading-[1]">
                    <div class="border border-white p-4">
                        {{ sst.text_1 }}
                    </div>
                    <div class="border border-white p-4">
                        {{ sst.text_2 }}
                    </div>
                </div>

            </div>

            <aside class="footer__aside  max-md:hidden">
                <div class="grid grid-cols-2 gap-8">
                
                    <div>
                        {% if sst.footer_menu_1 != blank %}
                            <h3 class="md:text-[1.8rem] font-bold mb-4 text-[#469AFF]">
                                Shop
                            </h3>
                            <ul class="footer__menu text-[1.4rem] font-bold flex flex-col gap-y-[1rem] md:gap-y-[0.8rem]">
                                {% for link in sst.footer_menu_1.links %}
                                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div>
                        <h3 class="md:text-[1.8rem] font-bold mb-4 text-[#469AFF]">
                            Help
                        </h3>
                        {% if sst.footer_menu_2 != blank %}
                            <ul class="footer__menu text-[1.4rem] font-bold flex flex-col gap-y-[1rem] gap-y-[0.8rem]">
                                {% for link in sst.footer_menu_2.links %}
                                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </aside>
        </div>

        <div class="grid md:grid-cols-[69rem_1fr] gap-8 text-[1rem] font-bold max-md:flex max-md:flex-col-reverse max-md:items-center max-md:justify-between max-md:gap-6 max-md:leading-[1.4]">

            <div class="footer__content-item">
                {{ sst.copyright }}
            </div>

            <ul class="footer__policies flex items-center gap-4">
                {%- for policy in shop.policies -%}
                    {%- if policy != blank -%}
                      <li>
                        <a href="{{ policy.url }}">{{ policy.title | escape }}</a>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
            </ul>
        </div>
    </div>
</footer>


{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "label": "Footer menu 1",
      "id": "footer_menu_1"
    },
    {
      "type": "link_list",
      "label": "Footer menu 2",
      "id": "footer_menu_2"
    },
    {
      "type": "image_picker",
      "label": "Footer Logo",
      "id": "foter_logo"
    },
    {
        "type": "color",
        "label": "Text color",
        "id": "background_color",
        "default": "#153164"
    },

    {
      "type": "color",
      "label": "Text color",
      "id": "text_color",
      "default": "#FFFFFF"
    },
    {
      "type": "richtext",
      "label": "Text 1",
      "id": "text_1"
    },
    {
      "type": "richtext",
      "label": "Text 2",
      "id": "text_2"
    },
    {
      "type": "richtext",
      "label": "Copyright",
      "id": "copyright"
    }
  ]
}
{% endschema %}
