{% render 'entry' with '@/styles/sections/hero.scss' %}
{% assign sst = section.settings %}

<style>
    #{{ section.id }} {
        text-align: {{ sst.text_alignment }};
        color: {{ sst.text_color_mobile }};
    }

    #{{ section.id }} .hero__content {
        min-height: {{ sst.height_mobile | times: 0.1 }}rem;
        height: calc(100vh - 9.4rem);
    }

    @media (max-width: 1024px) {
        #{{ section.id }} .btn {
            font-size: 1.6rem;
        }
    }

    @media (min-width: 1024px) {
        #{{ section.id }} {
            color: {{ sst.text_color_desktop }};
        }

        #{{ section.id }} .hero__content {
            height: auto;
            min-height: {{ sst.height | times: 0.1 }}rem;
        }

        #{{ section.id }} .hero__part-inner {
            max-width: {{ sst.content_width }}%;
            width: 100%;
        }
    }
</style>

<section class="hero flex flex-col lg:justify-center relative text-[{{ sst.text_color_mobile }}] lg:text-[{{ sst.text_color_desktop }}]" id="{{ section.id }}">
    <div class="hero__img">
        <picture>
            <source srcset="{{ sst.desktop_image | image_url: width: 2600 }}" media="(min-width: 1024px)">
            {{ sst.mobile_image | image_url: width: 1050 | image_tag: class: 'w-full h-full object-cover' }}
        </picture>
    </div>

    <div class="hero__content flex flex-col justify-between lg:justify-center items-center lg:items-start">
        {% content_for "blocks" %}
    </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
        "type": "header",
        "content": "Desktop"
    },
    {
        "type": "image_picker",
        "label": "Desktop Image",
        "id": "desktop_image"
    },
    {
        "type": "range",
        "label": "Height",
        "id": "height",
        "min": 200,
        "max": 1000,
        "step": 10,
        "default": 660
    },
    {
        "type": "color",
        "label": "Text Color",
        "id": "text_color_desktop",
        "default": "#ffffff"
    },
    {
        "type": "range",
        "label": "Content width in percent",
        "id": "content_width",
        "min": 1,
        "max": 100,
        "step": 1,
        "default": 50
    },
    {
        "type": "header",
        "content": "Mobile"
    },
    {
        "type": "image_picker",
        "label": "Mobile Image",
        "id": "mobile_image"
    },
    {
        "type": "range",
        "label": "Height",
        "id": "height_mobile",
        "min": 200,
        "max": 1000,
        "step": 10,
        "default": 560
    },
    {
        "type": "color",
        "label": "Text Color",
        "id": "text_color_mobile",
        "default": "#0D3063"
    },
    {
        "type": "select",
        "label": "Text alignment",
        "id": "text_alignment",
        "options": [
            {
                "value": "left",
                "label": "Left"
            },
            {
                "value": "center",
                "label": "Center"
            },
            {
                "value": "right",
                "label": "Right"
            }
        ],
        "default": "center"
    }
  ],
  "blocks": [{"type": "_hero-part"}],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}