{% render 'entry' with '@/styles/sections/hero.scss' %}
{% assign sst = section.settings %}

<style>
    .hero {
        text-align: {{ sst.text_alignment }};
        color: {{ sst.text_color_mobile }};
        min-height: {{ sst.height_mobile }}px;
    }

    .hero__img {
        min-height: {{ sst.height_mobile }}px;
    }

    @media (min-width: 1024px) {
        .hero {
            min-height: {{ sst.height }}px;
            color: {{ sst.text_color_desktop }};
        }

        .hero__content {
            max-width: {{ sst.content_width }}%;
        }

        .hero__img {
            min-height: {{ sst.height }}px;
        }
    }
</style>

<section class="hero relative text-[{{ sst.text_color_mobile }}] md:text-[{{ sst.text_color_desktop }}]">
    <div class="hero__img">
        <picture>
            <source srcset="{{ sst.desktop_image | image_url: width: 1920 }}" media="(min-width: 1024px)">
            <img src="{{ sst.mobile_image | image_url: width: 1050}}" alt="{{ settings.mobile_image.alt }}" width="100%" height="100%">
        </picture>
    </div>

    <div class="hero__content flex flex-col justify-between md:justify-center items-center">
        {% content_for "blocks" %}
    </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
        "type": "header",
        "content": "Desktop"
    },
    {
        "type": "image_picker",
        "label": "Desktop Image",
        "id": "desktop_image"
    },
    {
        "type": "range",
        "label": "Height",
        "id": "height",
        "min": 200,
        "max": 1000,
        "step": 10,
        "default": 660
    },
    {
        "type": "color",
        "label": "Text Color",
        "id": "text_color_desktop",
        "default": "#ffffff"
    },
    {
        "type": "range",
        "label": "Content width in percent",
        "id": "content_width",
        "min": 1,
        "max": 100,
        "step": 1,
        "default": 50
    },
    {
        "type": "header",
        "content": "Mobile"
    },
    {
        "type": "image_picker",
        "label": "Mobile Image",
        "id": "mobile_image"
    },
    {
        "type": "range",
        "label": "Height",
        "id": "height_mobile",
        "min": 200,
        "max": 1000,
        "step": 10,
        "default": 560
    },
    {
        "type": "color",
        "label": "Text Color",
        "id": "text_color_mobile",
        "default": "#0D3063"
    },
    {
        "type": "select",
        "label": "Text alignment",
        "id": "text_alignment",
        "options": [
            {
                "value": "left",
                "label": "Left"
            },
            {
                "value": "center",
                "label": "Center"
            },
            {
                "value": "right",
                "label": "Right"
            }
        ],
        "default": "center"
    }
  ],
  "blocks": [{"type": "_hero-part"}],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}