{% render 'entry' with '@/styles/sections/ts-cards.scss' %}

<style>
  .section-{{ section.id }} {
    padding-top: {{ section.settings.desk_indent_top }}px;
    padding-bottom: {{ section.settings.desk_indent_bottom }}px;
  }

  @media screen and (max-width: 749px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.mob_indent_top }}px;
      padding-bottom: {{ section.settings.mob_indent_bottom }}px;
    }
  }
</style>

<div class="ts-cards section-{{ section.id }}">
  <div class="ts-cards__wrapper">
    {%- if section.settings.title != blank -%}
      <h2 class="ts-cards__title">{{ section.settings.title }}</h2>
    {%- endif -%}
    {%- if section.settings.subtitle != blank -%}
      <p class="ts-cards__subtitle">{{ section.settings.subtitle }}</p>
    {%- endif -%}

    <div class="ts-cards__blocks">
      {% for block in section.blocks %}
        <div class="ts-cards__block">
          {%- if block.settings.image != blank -%}
            {{ block.settings.image | image_url: width: 500 | image_tag  }}
          {%- endif -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}"></a>
          {%- endif -%}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "TS Cards",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Subtitle"
      },
      {
        "type": "header",
        "content": "Indent settings"
      },
      {
        "type": "range",
        "id": "desk_indent_top",
        "label": "Indent top (desktop)",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "default": 50
      },
      {
        "type": "range",
        "id": "desk_indent_bottom",
        "label": "Indent bottom (desktop)",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "default": 50
      },
      {
        "type": "range",
        "id": "mob_indent_top",
        "label": "Indent top (mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 40
      },
      {
        "type": "range",
        "id": "mob_indent_bottom",
        "label": "Indent bottom (mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 40
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "TS Cards"
      }
    ]
  }
{% endschema %}